[req]
prompt = no
distinguished_name = dn
x509_extensions = v3_req

[dn]
CN = 192.168.4.151

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
IP.1 = 127.0.0.1
IP.2 = ::1
IP.3 = 192.168.4.151
